# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
/prisma/migrations/
/src/generated/

# OS files
.DS_Store
Thumbs.db
# Temporary files
*.zip
*.rar
*.7z
logs/
*.zip
payment-service/
*.zip
payment-service/
